# host.local.nix and flake.lock -> this options will set in the update.sh file
# -> git update-index --assume-unchanged --skip-worktree host.local.nix
# -> git update-index --assume-unchanged --skip-worktree flake.lock

tmp/
